In [36]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime as dt
from scipy import stats as sts

In [4]:
df = pd.read_csv('data/incidentes-viales-c5-limpio.csv', sep="$", index_col=0)

In [10]:
df.tail()

,folio,codigo_cierre,delegacion_inicio,incidente_c4,latitud,longitud,clas_con_f_alarma,tipo_entrada,delegacion_cierre,mes,fecha_hora_cierre,fecha_hora_creacion
693675,C5/210228/09218,N,MIGUEL HIDALGO,accidente-motociclista,19.392430,-99.239100,URGENCIAS MEDICAS,LLAMADA DEL 911,MIGUEL HIDALGO,2,2021-02-28 22:50:09,2021-02-28 22:23:07
693688,C5/210228/09309,N,IZTAPALAPA,accidente-choque sin lesionados,19.349940,-99.066890,EMERGENCIA,LLAMADA DEL 911,IZTAPALAPA,2,2021-02-28 23:44:19,2021-02-28 22:24:48
693689,C5/210228/09401,N,GUSTAVO A. MADERO,lesionado-atropellado,19.491660,-99.092150,URGENCIAS MEDICAS,LLAMADA DEL 911,GUSTAVO A. MADERO,2,2021-02-28 22:58:58,2021-02-28 22:45:49
693691,C5/210228/09417,A,AZCAPOTZALCO,accidente-choque sin lesionados,19.481660,-99.218560,EMERGENCIA,LLAMADA DEL 911,AZCAPOTZALCO,2,2021-02-28 23:48:19,2021-02-28 22:48:36
693692,IZ/210228/07916,A,XOCHIMILCO,accidente-choque sin lesionados,19.244195,-99.108017,EMERGENCIA,BOTÓN DE AUXILIO,XOCHIMILCO,2,2021-02-28 20:17:58,2021-02-28 19:46:33

In [6]:
df.describe()

             latitud       longitud            mes
count  369280.000000  369280.000000  369280.000000
mean       19.382307     -99.137894       6.442258
std         0.069267       0.062467       3.414201
min        19.095427     -99.370561       1.000000
25%        19.335590     -99.180590       3.000000
50%        19.383290     -99.141057       6.000000
75%        19.433160     -99.096370       9.000000
max        19.579320     -98.945370      12.000000

In [7]:
df.shape

(369280, 12)

In [8]:
df.columns

Index(['folio', 'codigo_cierre', 'delegacion_inicio', 'incidente_c4',
       'latitud', 'longitud', 'clas_con_f_alarma', 'tipo_entrada',
       'delegacion_cierre', 'mes', 'fecha_hora_cierre', 'fecha_hora_creacion'],
      dtype='object')

In [17]:
df.dtypes

folio                   object
codigo_cierre           object
delegacion_inicio       object
incidente_c4            object
latitud                float64
longitud               float64
clas_con_f_alarma       object
tipo_entrada            object
delegacion_cierre       object
mes                      int64
fecha_hora_cierre       object
fecha_hora_creacion     object
dtype: object

In [14]:
diccionario_de_conversion = {
    'codigo_cierre': 'category',
    'fecha_hora_creacion': 'datetime64[ns]',
    'fecha_hora_cierre': 'datetime64[ns]', 
    'delegacion_inicio': 'category',
    'incidente_c4': 'category', 
    'clas_con_f_alarma': 'category', 
    'tipo_entrada': 'category',
    'delegacion_cierre':'category',
    'mes':'category'
}

In [18]:
df = df.astype(diccionario_de_conversion)

In [19]:
df.dtypes

folio                          object
codigo_cierre                category
delegacion_inicio            category
incidente_c4                 category
latitud                       float64
longitud                      float64
clas_con_f_alarma            category
tipo_entrada                 category
delegacion_cierre            category
mes                          category
fecha_hora_cierre      datetime64[ns]
fecha_hora_creacion    datetime64[ns]
dtype: object

In [20]:
df_backup = df.copy()

In [32]:
df['tiempo_atencion'] = (df['fecha_hora_cierre'] - df['fecha_hora_creacion']) / dt.timedelta(hours=1)

In [33]:
df.head()

,folio,codigo_cierre,delegacion_inicio,incidente_c4,latitud,longitud,clas_con_f_alarma,tipo_entrada,delegacion_cierre,mes,fecha_hora_cierre,fecha_hora_creacion,tiempo_atencion
2,C5/170622/03715,(N) La unidad de atención a emergencias fue de...,VENUSTIANO CARRANZA,accidente-choque sin lesionados,19.43053,-99.05260,EMERGENCIA,LLAMADA DEL 911,VENUSTIANO CARRANZA,6,2017-06-22 16:48:07,2017-06-22 13:44:52,3.054167
5,C5/170621/07339,(A) La unidad de atención a emergencias fue de...,IZTAPALAPA,accidente-choque sin lesionados,19.38676,-99.03350,EMERGENCIA,LLAMADA DEL 911,IZTAPALAPA,6,2017-06-22 03:53:51,2017-06-21 23:29:01,4.413889
8,C5/170622/01694,(N) La unidad de atención a emergencias fue de...,IZTAPALAPA,accidente-choque sin lesionados,19.35017,-99.07324,EMERGENCIA,LLAMADA DEL 911,IZTAPALAPA,6,2017-06-22 10:47:19,2017-06-22 08:51:30,1.930278
9,C5/170622/03779,(N) La unidad de atención a emergencias fue de...,CUAJIMALPA,accidente-choque sin lesionados,19.37273,-99.27753,EMERGENCIA,LLAMADA DEL 911,CUAJIMALPA,6,2017-06-22 14:17:46,2017-06-22 13:49:44,0.467222
12,C5/170622/04693,(N) La unidad de atención a emergencias fue de...,MIGUEL HIDALGO,accidente-choque sin lesionados,19.45316,-99.19868,EMERGENCIA,LLAMADA DEL 911,MIGUEL HIDALGO,6,2017-06-22 16:47:41,2017-06-22 15:48:39,0.983889

In [37]:
tiempo_atencion_mean = df.tiempo_atencion.mean()
tiempo_atencion_median = df.tiempo_atencion.median()
tiempo_atencion_timmed_mean = sts.trim_mean(df['tiempo_atencion'], 0.1)
#tiempo_atencion_range =